<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
     <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
      
     	<li {% if page.url contains "/setup" %}class="currentpage"{% endif %}> <a href="{{ site.baseurl }}/setup">Setup</a></li>
	<li {% if page.url contains "/tutorials" %}class="currentpage"{% endif %}> <a href="{{ site.baseurl }}/tutorials">Tutorials</a></li>
    </nav>
    
  </div>
  <div class="container sidebar-sticky-bottom">
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
