<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
     <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">CE Programming</a>

     	<li {% if page.url contains "/setup" %}class="currentpage"{% endif %}> <a href="{{ site.baseurl }}/setup">Setup</a></li>
        <li {% if page.url contains "/tutorials" %}class="currentpage"{% endif %}> <a href="{{ site.baseurl }}/tutorials">Tutorials</a></li>
        <li {% if page.url contains "/resources" %}class="currentpage"{% endif %}> <a href="{{ site.baseurl }}/resources">Resources</a></li>
        <li {% if page.url contains "/links" %}class="currentpage"{% endif %}> <a href="{{ site.baseurl }}/links">External Links</a></li>
    </nav>

  </div>
  <div class="container sidebar-sticky-bottom">
    <p>Want to help? <a href="https://github.com/CE-Programming/documentation" title="GitHub repo">Click here!</a></p>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
