<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-08">

    {% include sidebar.html %}

    <div class="content container">
      {% if page.title == "Home" %}
        <h>Welcome</h>
        <p>Welcome to CE Programming! Here you will learn the skills and get the tools in order to natively program your CE calculator. Use the navigation pane to your left in order to browse through the available documentation, or if this isyour first time, follow the below link in order to begin your enviornment setup.</p>
        <a href="{{ site.baseurl }}/setup">Begin Setup</a>
        <br></br>
      {% endif %}
      {{ content }}
    </div>

  </body>
</html>
